@import "../node_modules/bulmaswatch/darkly/_variables.scss";
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulmaswatch/darkly/_overrides.scss";

.tabs-container {
  & > :not(.tabs):not(.is-active) {
    display: none;
  }
}
