<div class="box">
  <h2 class="title is-3">Create Admin User</h2>
  <form action="/admin" method="post">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" name="email" type="email" required placeholder="E-Mail">
      </div>
    </div>
    <div class="field">
      <label class="label">Display name</label>
      <div class="control">
        <input class="input" name="displayname" type="text" required placeholder="Display Name">
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" name="password" type="password" required placeholder="Password">
      </div>
    </div>
    <div class="field">
      <label class="label">Confirm Password</label>
      <div class="control">
        <input class="input" name="passwordConf" type="password" required placeholder="Confirm Password">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button type="submit" class="button is-link">Register</button>
      </div>
    </div>
  </form>
</div>
