<div class="columns">
	<div class="column">
		<h2 class="title is-2">Classes</h2>
		<ul>
		{{#each classes}}
		  <li>{{math @index "+" 1}}. {{this.classname}} - {{this.classid}}</li>
		{{else}}
			<li>
				No classes found.
			</li>
		{{/each}}
	</ul>
	</div>
	<div class="column">
		<div class="box">
			<h2 class="title is-2">New Class</h2>
		  <form action="/classes" method="post">
				<div class="field">
					<label class="label">Class Name</label>
					<div class="control">
						<input class="input" name="classname" type="text" required placeholder="Class Name">
					</div>
				</div>
				<div class="field">
					<label class="label">Class ID</label>
					<div class="control">
						<input class="input" name="classid" type="text" required placeholder="Class ID">
					</div>
				</div>
		    <div class="field">
		      <div class="control">
		        <button type="submit" class="button is-link">Save</button>
		      </div>
		    </div>
		  </form>
		</div>
	</div>
</div>
