<script>
function switchTab(el) {
  $(el).siblings().removeClass('is-active');
  $(el).addClass('is-active');
  const index = $(el).index();
  const tabs = $(el).parent().parent().siblings();
  console.log(tabs);
  console.log(index);
  tabs.removeClass('is-active');
  tabs.eq(index).addClass('is-active');
}
</script>

<div class="box tabs-container">
  <div class="tabs">
    <ul>
      <li class="is-active" onclick="switchTab(this)"><a><h2 class="title is-2">Login</h2></a></li>
      <li onclick="switchTab(this)"><a><h2 class="title is-2">Register</h2></a></li>
    </ul>
  </div>

  <form class="is-active" action="/" method="post">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" name="logemail" type="email" required placeholder="E-Mail">
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" name="logpassword" type="password" required placeholder="Password">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button type="submit" class="button is-link">Login</button>
      </div>
    </div>
  </form>
  <form action="/" method="post">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" name="email" type="email" required placeholder="E-Mail">
      </div>
    </div>
    <div class="field">
      <label class="label">Display name</label>
      <div class="control">
        <input class="input" name="displayname" type="text" required placeholder="Display Name">
      </div>
    </div>
    <div class="field">
      <label class="label">Class ID</label>
      <div class="control">
        <input class="input" name="classid" type="text" required placeholder="Class ID">
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" name="password" type="password" required placeholder="Password">
      </div>
    </div>
    <div class="field">
      <label class="label">Confirm Password</label>
      <div class="control">
        <input class="input" name="passwordConf" type="password" required placeholder="Confirm Password">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button type="submit" class="button is-link">Register</button>
      </div>
    </div>
  </form>
</div>
