<div class="columns">
	<div class="column">
		<h2 class="title is-3">{{user.displayname}}</h2>
		<p class="subtitle is-4">{{user.email}}</p>
		{{#each job}}
		<h2 class="title is-4">{{this.name}}</h2>
		<ul>
			<li> Status:
				{{#unless this.status}} Pending {{/unless}}
				{{#if this.status}} Complete {{/if}}
			</li>
			<li> Stdin File Name: {{this.stdin}} </li>
			<li> Number of Processors: {{this.processors}} </li>
			<li> C++ Standard Flag: {{this.cppstandard}} </li>
			<li> Optimization Flag: {{this.optimization}} </li>
			<li><a href="/zip/{{this.id}}"> Submitted Files </a></li>
		</ul>
		{{/each}}
	</div>
</div>
