<div class="columns">
	<div class="column">
		<h2 class="title is-3">{{user.displayname}}</h2>
		<p class="subtitle is-4">{{user.email}}</p>
		<h2 class="title is-4">Jobs</h2>
		<ul>
			{{#each jobs}}
			<li><a href="/job/{{this.id}}">
					{{math @index "+" 1}}. {{this.name}} -
					{{#unless this.status}} Pending {{/unless}}
					{{#if this.status}} Complete {{/if}}
				</a></li>
			{{else}}
			<li>
				No jobs found.
			</li>
			{{/each}}
		</ul>
	</div>
	<div class="
				 column">
		<div class="box">
			<h2 class="title is-3">Submit Job</h2>
			<form action="/newjob" method="post" enctype="multipart/form-data">
				<div class="field">
					<label class="label">Job Name</label>
					<div class="control">
						<input class="input" name="jobname" type="text" required placeholder="Job Name">
					</div>
				</div>
				<div class="field">
					<label class="label">Stdin File Name</label>
					<div class="control">
						<input class="input" name="stdin" type="text" placeholder="stdin File Name">
					</div>
					<p class="help">Stdin file must be in root of archive. File will be piped in to stdin. Leave blank for no stdin
						input.</p>
				</div>
				<div class="field">
					<label class="label">Number of Processors</label>
					<div class="control">
						<input class="input" name="numprocessors" type="number" required min=1 max=64 value=32 />
					</div>
					<p class="help">Output file must be saved in the same directory as execution using a relative path. Leave blank
						for no ouput file. Output to stdout and stderr will still be saved separately.</p>
				</div>
				<div class="field">
					<label class="label">Project</label>
					<div class="file has-name is-fullwidth">
						<label class="file-label">
							<input class="file-input" type="file" required name="project">
							<span class="file-cta">
								<span class="file-icon">
									<i class="fas fa-upload"></i>
								</span>
								<span class="file-label">
									Choose a file…
								</span>
							</span>
							<span class="file-name">
								.cpp, .zip, .tar, .tar.gz, .tar.bz2
							</span>
						</label>
					</div>
					<p class="help">All cpp files must be in root of archive or src folder.</p>
				</div>
				<div class="field">
					<label class="label">C++ Standard Flag</label>
					<div class="control">
						<label class="radio">
							<input checked type="radio" value="" name="standard">
							None
						</label>
						<label class="radio">
							<input type="radio" value="-std=c++2a" name="standard">
							c++2a
						</label>
						<label class="radio">
							<input type="radio" value="-std=c++11" name="standard">
							c++11
						</label>
						<label class="radio">
							<input type="radio" value="-std=c++14" name="standard">
							c++14
						</label>
						<label class="radio">
							<input type="radio" value="-std=c++17" name="standard">
							c++17
						</label>
					</div>
					<div class="field">
						<label class="label">Optimization Flag</label>
						<div class="control">
							<label class="radio">
								<input checked type="radio" value="" name="optimize">
								None
							</label>
							<label class="radio">
								<input type="radio" value="-O0" name="optimize">
								-O0
							</label>
							<label class="radio">
								<input type="radio" value="-O1" name="optimize">
								-O1
							</label>
							<label class="radio">
								<input type="radio" value="-O2" name="optimize">
								-O2
							</label>
							<label class="radio">
								<input type="radio" value="-O3" name="optimize">
								-O3
							</label>
							<label class="radio">
								<input type="radio" value="-Os" name="optimize">
								-Os
							</label>
							<label class="radio">
								<input type="radio" value="-Ofast" name="optimize">
								-Ofast
							</label>
						</div>
					</div>
					<div class="field">
						<div class="control">
							<button type="submit" class="button is-link">Submit Job</button>
						</div>
					</div>
			</form>
		</div>
	</div>
</div>
